.box-img-text{
    font-size: 51px;
    font-family: LemonMilk;
    font-weight: 100;
    position: absolute;
    top: 30%;
    left: 10%;
    text-shadow: #4D648C 0.1em 0.1em 0.2em;
    h1{
        font-size: 40px; ;
        height: 45px;
    }
    h2 {
        font-family: DoublePorter !important;
        font-size: 34px !important;
        margin-top: -18px;
    }
    hr {
        margin: 0.5rem 0;
    }
}